{
    "trailingComma": "none",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ]
}
